<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>HTML Academy: Нёрдс</title>
  </head>
  <body>
  p b{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-family: Roboto;
  font-weight: bold;
  }
   
  p{
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-family: Roboto;
  font-weight: normal;
  }

  h2{
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-family: Roboto;
  font-weight: normal;
  }

  .button-label{
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: normal;
  }
  </body>
</html>

